html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
}

/* ----------------------------------Top navigation Starts------------------------------------------ */

.navigation-bar {
    background-color: #FCC200;
    padding: 0 1.5%;
    /* letter-spacing: 3px; */
    height: 80px;
}

.logo {
    margin-top: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #FCC200;
    overflow: hidden;
    float: right;
    margin-top: 20px;
    z-index: 11;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Add an active class to highlight the current page */
.active {
    /* background-color: #04AA6D; */
    background-color: #be1e47;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    /* font: 400 21.5px/1.8 "Lato", sans-serif; */
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 13px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    /* letter-spacing: 3px; */
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 99px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 44px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #be1e47;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #be1e47;
    color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        padding: 13px 16px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {
    .logo {
        width: 190px;
        height: 50px;
        margin-top: 15px;
    }
    .topnav.responsive {
        position: fixed;
        top: 0px;
        right: 6px;
        width: 116px;
        z-index: 300;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
        min-width: 110px;
        text-align-last: right;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}


/* ------------------------------------------------Top Navigation Ends-------------------------------------------------------- */

/* -----------------------------------------------Content Starts--------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

.scrolling-text {
    background-color: #BCB88A;
    max-width: none;
    margin: 10px 0;
    padding: 10px 100px;
}

marquee {
    display: block;
}
h1{
    text-align: center;
    letter-spacing: 0.5px;
    padding: 20px 0 20px 0;
}
@media screen and (max-width: 600px){
    .scrolling-text {
        padding: 10px 0;
    }

}

.swiper {
    width: 100%;
    /* height: 400px; */
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {

    .swiper{
        /* width: 100%; */
        height: 120px;
        /* display: inline-block; */
        
    }
    
}

.pdf-container-1{
    max-width: none;
    /* background-color: #BCB88A; */
    /* background-color:#E6B325 ; */
    background-color:#EBB02D ;
}
.pdf-container-2{
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.pdf-info{
    align-self: center;
}

.events-button-container{
    align-self: center;
}
.events-button{
    margin: 10px 0;
    padding: 15px;
}
.events-button:hover{
    color: white;
}
/* --------------------------------------Contact Content Ends------------------------------------------ */


/* -----------------------------------------------Content Ends----------------------------------------------------- */

/* --------------------------------------Bottom Section Starts--------------------------------------------- */

#info{
    background-color: #e6b400;
    padding: 25px;
}
h4{
    /* text-align: center; */
    font-weight: 500;
}
.bottom-info{
    padding-top: 10px;
}
.get-in-touch-info {
    padding-left: 0;
}

.get-in-touch {
    padding-left: 40px;
}

.get-in-touch-icon {
    font-size: 25px;
    margin-right: 15px;
}

.link {
    text-align: center;
}

.bottom-link-section {
    margin: 5px;
}

.bottom-link {
    text-decoration: none;
    color: black;
}

.bottom-link:hover {
    color: white;
}
.connect-with-us{
    text-align: center;
}
.footer-social{
    color: black;
    padding: 7px;
    margin: 10px;
    font-size: 30px;
}
.footer-social:hover {
    color: white;
}

footer {
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    h4{
        text-align: center;
    }
    .get-in-touch {
        padding: 30px 0 30px 12px;
    }

    .link {
        /* text-align: left; */
        padding-bottom: 30px;
    }
    .connect-with-us{
        text-align: center;
    }
}